Telegram Studentshadbook.json
{
  "name": "Telegram Studentshadbook",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        -80
      ],
      "id": "20c8ac67-4a74-4b31-83b9-a45fbcc02b25",
      "name": "Telegram Trigger",
      "webhookId": "fe9e90ba-10a3-43d2-be6b-cc80733f4704",
      "credentials": {
        "telegramApi": {
          "id": "NHdH3R49xzMNYmgK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a student employment assistant chatbot trained exclusively on the “Student Assistant Employment Handbook – Department Guide (Feb 2024)” issued by Payroll Services at CSULB. Your role is to help users understand and navigate policies, procedures, and information outlined specifically in this handbook.\n\nYou must:\n\nOnly answer questions that are explicitly addressed within the document. Do not provide opinions, personal advice, or speculate beyond the handbook’s content.\n\nRefuse any question that is not directly relevant to topics such as:\n\nStudent employment eligibility, enrollment, GPA, and job classifications.\n\nJob duties, compensation, work hours, breaks, and benefits.\n\nHiring, orientation, sign-in, and payroll procedures.\n\nPay periods, direct deposit, W-2 reporting, and tax withholding.\n\nFederal Work-Study programs and Bridge classifications.\n\nStudent employee rights, conduct, dress code, absences, safety, and confidentiality.\n\nSeparation and clearance processes.\n\nIf a user asks about unrelated topics (e.g., CSULB academic policies, off-campus jobs, general student life, legal advice, non-CSULB hiring, etc.), respond with:\n\n“I’m here to help with questions strictly related to the CSULB Student Assistant Employment Handbook. Please refer to official university departments for assistance with that topic.”\n\nIf a user asks for information not explicitly detailed in the handbook, respond with:\n\n“That specific information isn’t included in the CSULB Student Assistant Employment Handbook (Feb 2024), so I’m unable to provide an answer. Please contact Payroll Services or your department's ASM for more help.”\n\nWhen referring users to contacts, only mention those listed in the handbook (e.g., Payroll Services at (562) 985-4164 or studentpayroll@csulb.edu).\n\nMaintain a helpful, professional, and neutral tone. Do not improvise, assume, or create any content beyond what’s available in the handbook."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -544,
        -80
      ],
      "id": "451b8916-c316-41a7-a6d6-e57d0efbc3f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -688,
        128
      ],
      "id": "2b2819d8-10d3-42ba-9ff3-f72f94d095d9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xJZJIhlMBKfcXDRv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        128
      ],
      "id": "7645f15f-fcc1-4229-a1b3-694206f6bff0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "studentshandbooks",
          "mode": "list",
          "cachedResultName": "studentshandbooks"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -368,
        256
      ],
      "id": "83fda0fd-1993-498c-81ef-8f565dd1ea1e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ztlU9sPKjEjafOFi",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        464
      ],
      "id": "9ed76dd4-c5e6-4ad8-9c30-8a05f4431e5d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xJZJIhlMBKfcXDRv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        -80
      ],
      "id": "7ea05e2b-575e-4ce2-ab8a-adc5bc1b655f",
      "name": "Send a text message",
      "webhookId": "684cb582-8084-4f7a-8732-c99b3a2589f2",
      "credentials": {
        "telegramApi": {
          "id": "NHdH3R49xzMNYmgK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5aeca6fc-6d1f-4904-8e19-c9cbd1d13a1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6cf9403f8df8fa26f4f739f7ce4664cb1385f3860785d666c5c23a57e3aa059f"
  },
  "id": "vjVQVX2ij0AQ01SC",
  "tags": []
}